$main-color: #ffca00;
$text-color: #000;

$logo-width: 40.625rem;
$logo-text-width: 36.375rem;
$copy-text-width: $logo-width - $logo-text-width;
$logo-aspect-ratio: 4.0625;

$case-width: 500px;
$case-aspect-ratio: 0.62;

$pc-width: 64rem;