html, body, #app {
  height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  background: #fff;
}


[v-cloak] {
  display: none;
}

$spacer: 1rem;

.wrap {
  height: 100%;
  display: flex;
  flex-flow: row;
  padding: $spacer;
}

.canvas {
  position: relative;
  flex: 1;
}

.canvas-wrap, .heatmap-container, .control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.control span {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: .5;
  background: #000;
  cursor: pointer;
  transition: transform 200ms ease;
  margin-left: -5px;
  margin-top: -5px;
  &:hover {
    transform: scale(2);
  }
}

.heatmap-container {
  pointer-events: none;
}

.toolbar {
  display: flex;
  flex-flow: column;
  width: 20%;
  max-width: 260px;
  padding: $spacer;
  border-radius: 3px;
  background: #eee;

  td {
    vertical-align: middle;
  }

  input {
    margin: 0;
  }

  > div + div {
    margin-top: $spacer * 2;
  }
}

.editor {
  position: absolute;
  width: 200px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: $spacer;
  transform: translate(-50%, -110%);
  p:last-of-type {
    margin-bottom: 0;
  }
}

.ml-a {
  margin-left: auto !important;
}

.mt-a {
  margin-top: auto !important;
}

.button-block {
  width: 100%;
}

.hidden {
  display: none !important;
}
